.final-layout {
	background: url('../../public/MainMenuBackground.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}